
body {
    font-family: Roboto;
    text-align: center;
    color:white;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
}

.main{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.navigation-bar{
    position: absolute;
    right:0%;
}

.button{
    display: inline-block;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-width: 2px;
    text-decoration: none;
}

.button:hover{
    background: white;
    color:black;
}

h1{
    font-family: Roboto;
    font-size: 90px;
    text-emphasis: none;
    font-weight:100;
}

h2{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 100;
}

a{
    font-family: Roboto;
    color:white;
    padding-right: 10px;
    padding-left: 10px;
}